{% extends 'adminpanel/base.html' %}
{% block content %}
      <section class="content-main">
        <div class="content-header">
          <div>
            <h2 class="content-title card-title">Categories</h2>
            <p>Add, edit or delete a category</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                <form method="POST" enctype="multipart/form-data" action="{% url 'addcategory' %}">
                  {% csrf_token %}{% if messages %}
                  {% for message in messages %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      <strong></strong>{{ message }}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                  {% endfor %}
                {% endif %}
                
                  <div class="mb-4">
                    <label for="product_name" class="form-label">Name</label>
                    <input
                      type="text"
                      placeholder="Type here"
                      class="form-control"
                      id="product_name"
                      name = "name"
                    />
                  </div>
                  <div class="mb-4">
                    <label for="product_slug" class="form-label">Slug</label>
                    <input
                      type="text"
                      placeholder="Type here"
                      class="form-control"
                      id="product_slug"
                      name = "slug"
                    />
                  </div>
                  <div class="mb-4">
                    <label class="form-label">Category Image</label>
                    <input class="form-control" type="file" name="image" />
                  </div>
                  <div class="mb-4">
                    <label class="form-label">Description</label>
                    <textarea
                      placeholder="Type here"
                      class="form-control"
                      name = "desc"
                    ></textarea>
                  </div>
                  <label class="form-check mb-4">
                    <input class="form-check-input" type="checkbox" value="" name="isavailable" checked/>
                    <span class="form-check-label"> Is available </span>
                  </label>
                  <div class="col-sm-6 mb-3">
                    <label class="form-label">Offer</label>
                    <select class="form-select" name="offer">
                      <option value="">-----</option>
                      {% for offer in offers %}
                      <option value="{{ offer.id }}">{{ offer.name }}</option>
                      {% endfor %}
                      
                    </select>
                  </div>
                  <div class="d-grid">
                    <button class="btn btn-primary" type="submit">Create category</button>
                  </div>
                </form>
              </div>
              <div class="col-md-9">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th class="text-center">
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              value=""
                            />
                          </div>
                        </th>
                        <th>Name</th>
                        <th>Slug</th>
                        <th class="text-end">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for category in categories %}
                      <tr>
                      
                      
                        <td class="text-center">
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              value=""
                            />
                          </div>
                        </td>
                        <td><b>{{ category.category_name }}</b></td>
                        <td>{{ category.slug }}</td>
                        <td class="text-end">
                          <div class="dropdown">
                            <a
                              href="#"
                              data-bs-toggle="dropdown"
                              class="btn btn-light rounded btn-sm font-sm"
                            >
                              <i class="material-icons md-more_horiz"></i>
                            </a>
                            <div class="dropdown-menu">

                              <a class="dropdown-item" href="{% url 'editcategory' category.id %}">Edit info</a>
                              <a class="dropdown-item text-danger" href="{% url 'deletecategory' category.id %}"
                                >Delete</a
                              >
                            </div>
                          </div>
                          <!-- dropdown //end -->
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- .col// -->
            </div>
            <!-- .row // -->
          </div>
          <!-- card body .// -->
        </div>
        <!-- card .// -->
      </section>
      <!-- content-main end// -->
      <footer class="main-footer font-xs">
        <div class="row pb-30 pt-15">
          <div class="col-sm-6">
            <script>
              document.write(new Date().getFullYear());
            </script>
            &copy; Nest - HTML Ecommerce Template .
          </div>
          <div class="col-sm-6">
            <div class="text-sm-end">All rights reserved</div>
          </div>
        </div>
      </footer>
      {% endblock content %}
    </main>
    <script src="/static/admin_assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/static/admin_assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/static/admin_assets/js/vendors/select2.min.js"></script>
    <script src="/static/admin_assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/static/admin_assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/static/admin_assets/js/main.js?v=1.1" type="text/javascript"></script>

  </body>
</html>
