{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>EyeEnvy</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Goggles a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
{% block css %}{% endblock css %}
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="/static/css/login_overlay.css" rel='stylesheet' type='text/css' />
	<link href="/static/css/style6.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="/static/css/shop.css" type="text/css" />
	<link rel="stylesheet" href="/static/css/owl.carousel.css" type="text/css" media="all">
	<link rel="stylesheet" href="/static/css/owl.theme.css" type="text/css" media="all">
	<link href="/static/css/style.css" rel='stylesheet' type='text/css' />
	<link href="/static/css/fontawesome-all.css" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
	    rel="stylesheet">
  
</head>

<body>
	<div class="banner-top container-fluid" id="home">
		<!-- header -->
		<header>
			<div class="row">
				<div class="col-md-3 top-info text-left mt-lg-4">
					<h6>Need Help</h6>
					<ul>
						<li>
							<i class="fas fa-phone"></i> Call</li>
						<li class="number-phone mt-3">12345678099</li>
					</ul>
				</div>
				<div class="col-md-6 logo-w3layouts text-center">
					<h1 class="logo-w3layouts">
						<a class="navbar-brand" href="{% url 'index' %}">
							EyeEnvy
						 </a>
					</h1>
				</div>
				
				<div class="col-md-3 top-info-cart text-right mt-lg-4">
					<ul class="cart-inner-info">
						<li>
							<div class="dropdown show">
								<a class="btn  dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style = "background-color: white; border: black solid 1px; color: black;">
									{% if user.is_authenticated %}
									{{ user.first_name }}
									{% else %}
									Login
									{% endif %}
								</a>
								{% if user.is_authenticated %}
								<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
									<a class="dropdown-item" href="{% url 'handlelogout' %}">Logout</a>
									<a class="dropdown-item" href="{% url 'profile' %}">My profile</a>
									<a class="dropdown-item" href="{% url 'myorders' %}">My orders</a>
									<a class="dropdown-item" href="{% url 'wishlist' %}">My wishlist</a>
								</div>
								{% else %}
								<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
								  <a class="dropdown-item" href="{% url 'handlelogin' %}">Login</a>
								  <a class="dropdown-item" href="{% url 'signup' %}">Signup</a>
								  <a class="dropdown-item" href="#">About</a>
								</div>
								{% endif %}
							  </div>
							
							{% comment %} <a class="btn-open" href="#">
								<span class="fa fa-user" aria-hidden="true"></span>
							</a> {% endcomment %}
						</li>
						<li class="galssescart galssescart2 cart cart box_1">

								<a href = "{% url 'cart' %}">
								<button class="top_googles_cart" type="" name="submit" value="">
									My Cart
									<i class="fas fa-cart-arrow-down"></i>
								</button></a>
						
						</li>
						{% comment %} <li class="galssescart galssescart2 cart cart box_1">
								<button class="top_googles_cart" type="submit" name="submit" value="">
									<a href = "{% url 'handlelogout' %}">logout</a>
								</button>
						</li> {% endcomment %}
					</ul>
					<!---->
					<div class="overlay-login text-left">
						<button type="button" class="overlay-close1">
							<i class="fa fa-times" aria-hidden="true"></i>
						</button>
						<div class="wrap">
							<h5 class="text-center mb-4">Login Now For More Details</h5>
							<div class="login p-5 bg-dark mx-auto mw-100">
								{% comment %} <form action="#" method="post">
									<div class="form-group">
										<label class="mb-2">Email address</label>
										<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" required="">
										<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
									</div>
									<div class="form-group">
										<label class="mb-2">Password</label>
										<input type="password" class="form-control" id="exampleInputPassword1" placeholder="" required="">
									</div>
									<div class="form-check mb-2">
										<input type="checkbox" class="form-check-input" id="exampleCheck1">
										<label class="form-check-label" for="exampleCheck1">Check me out</label>
									</div>
									

								</form> {% endcomment %}
								<button type="submit" class="btn btn-primary submit mb-4"><a href="{% url 'handlelogin' %}">Sign In</a></button>
							</div>
							<!---->
						</div>
					</div>
					<!---->
				</div>
			</div>
			<div class="search">
				<div class="mobile-nav-button">
					<button id="trigger-overlay" type="button">
						<i class="fas fa-search"></i>
					</button>
				</div>
				<!-- open/close -->
				<div class="overlay overlay-door">
					<button type="button" class="overlay-close">
						<i class="fa fa-times" aria-hidden="true"></i>
					</button>
					<form action="#" method="post" class="d-flex">
						<input class="form-control" type="search" placeholder="Search here..." required="">
						<button type="submit" class="btn btn-primary submit">
							<i class="fas fa-search"></i>
						</button>
					</form>

				</div>
				<!-- open/close -->
			</div>
			<label class="top-log mx-auto"></label>
			<nav class="navbar navbar-expand-lg navbar-light bg-light top-header mb-2">

				<button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				    aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
						
					</span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav nav-mega mx-auto">
						<li class="nav-item active">
							<a class="nav-link ml-lg-0" href="{% url 'index' %}">Home
							
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="about.html">About</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
							    aria-expanded="false">
								Features
							</a>
							<ul class="dropdown-menu mega-menu ">
								<li>
									<div class="row">
										<div class="col-md-4 media-list span4 text-left">
											<h5 class="tittle-w3layouts-sub"> Tittle goes here </h5>
											<ul>
												<li class="media-mini mt-3">
													<a href="{% url 'store' %}">Designer Glasses</a>
												</li>
												<li class="">
													<a href="{% url 'store' %}"> Ray-Ban</a>
												</li>
												<li>
													<a href="{% url 'store' %}">Prescription Glasses</a>
												</li>
												<li class="mt-3">
													<h5>View more pages</h5>
												</li>
												<li class="mt-2">
													<a href="about.html">About</a>
												</li>
												<li>
													<a href="customer.html">Customers</a>
												</li>
											</ul>
										</div>
										
									</div>
									<hr>
								</li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true"
							    aria-expanded="false">
								Shop
							</a>
							<ul class="dropdown-menu mega-menu ">
								<li>
									<div class="row">
										<div class="col-md-4 media-list span4 text-left">
											<h5 class="tittle-w3layouts-sub"> Tittle goes here </h5>
											<ul>
												<li class="media-mini mt-3">
													<a href="{% url 'store' %}">Designer Glasses</a>
												</li>
												<li class="">
													<a href="{% url 'store' %}"> Ray-Ban</a>
												</li>
												<li>
													<a href="{% url 'store' %}">Prescription Glasses</a>
												</li>
												<li>
													<a href="{% url 'store' %}">Rx Sunglasses</a>
												</li>
												<li>
													<a href="{% url 'store' %}">Contact Lenses</a>
												</li>
												<li>
													<a href="{% url 'store' %}">Multifocal Glasses</a>
												</li>
												<li>
													<a href="{% url 'store' %}">Kids Glasses</a>
												</li>
												<li>
													<a href="{% url 'store' %}">Lightweight Glasses</a>
												</li>
												<li>
													<a href="{% url 'store' %}">Sports Glasses</a>
												</li>
											</ul>
										</div>
										<div class="col-md-4 media-list span4 text-left">
											<h5 class="tittle-w3layouts-sub"> Tittle goes here </h5>
											<ul>
												<li class="media-mini mt-3">

													<a href="{% url 'store' %}">Brooks Brothers</a>
												</li>
												<li>
													<a href="{% url 'store' %}">Persol</a>
												</li>
												<li>
													<a href="{% url 'store' %}">Polo Ralph Lauren</a>
												</li>
												<li>
													<a href="{% url 'store' %}">Prada</a>
												</li>
												<li>
													<a href="{% url 'store' %}">Ray-Ban Jr</a>
												</li>
												<li>
													<a href="{% url 'store' %}">Sferoflex</a>
												</li>
											</ul>
											<ul class="sub-in text-left">

												<li>
													<a href="{% url 'store' %}">Polo Ralph Lauren</a>
												</li>
												<li>
													<a href="{% url 'store' %}">Prada</a>
												</li>
												<li>
													<a href="{% url 'store' %}">Ray-Ban Jr</a>
												</li>
											</ul>

										</div>
										<div class="col-md-4 media-list span4 text-left">

											<h5 class="tittle-w3layouts-sub-nav">Tittle goes here </h5>
											<div class="media-mini mt-3">
												<a href="{% url 'store' %}">
													<img src="images/g1.jpg" class="img-fluid" alt="">
												</a>
											</div>

										</div>
									</div>
									<hr>
								</li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="contact.html">Contact</a>
						</li>
					</ul>

				</div>
			</nav>
		</header>

    {% block content %} {% endblock %}

    <footer class="py-lg-5 py-3">
      <div class="container-fluid px-lg-5 px-3">
        <div class="row footer-top-w3layouts">
          <div class="col-lg-3 footer-grid-w3ls">
            <div class="footer-title">
              <h3>About Us</h3>
            </div>
            <div class="footer-text">
              <p>
                Curabitur non nulla sit amet nislinit tempus convallis quis ac
                lectus. lac inia eget consectetur sed, convallis at tellus.
                Nulla porttitor accumsana tincidunt.
              </p>
              <ul class="footer-social text-left mt-lg-4 mt-3">
                <li class="mx-2">
                  <a href="#">
                    <span class="fab fa-facebook-f"></span>
                  </a>
                </li>
                <li class="mx-2">
                  <a href="#">
                    <span class="fab fa-twitter"></span>
                  </a>
                </li>
                <li class="mx-2">
                  <a href="#">
                    <span class="fab fa-google-plus-g"></span>
                  </a>
                </li>
                <li class="mx-2">
                  <a href="#">
                    <span class="fab fa-linkedin-in"></span>
                  </a>
                </li>
                <li class="mx-2">
                  <a href="#">
                    <span class="fas fa-rss"></span>
                  </a>
                </li>
                <li class="mx-2">
                  <a href="#">
                    <span class="fab fa-vk"></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 footer-grid-w3ls">
            <div class="footer-title">
              <h3>Get in touch</h3>
            </div>
            <div class="contact-info">
              <h4>Location :</h4>
              <p>0926k 4th block building, king Avenue, New York City.</p>
              <div class="phone">
                <h4>Contact :</h4>
                <p>Phone : +121 098 8907 9987</p>
                <p>
                  Email :
                  <a href="mailto:info@example.com">info@example.com</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 footer-grid-w3ls">
            <div class="footer-title">
              <h3>Quick Links</h3>
            </div>
            <ul class="links">
              <li>
                <a href="{% url 'index' %}">Home</a>
              </li>
              <li>
                <a href="about.html">About</a>
              </li>
              <li>
                <a href="404.html">Error</a>
              </li>
              <li>
                <a href="{% url 'store' %}">Shop</a>
              </li>
              <li>
                <a href="contact.html">Contact Us</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 footer-grid-w3ls">
            <div class="footer-title">
              <h3>Sign up for your offers</h3>
            </div>
            <div class="footer-text">
              <p>
                By subscribing to our mailing list you will always get latest
                news and updates from us.
              </p>
              <form action="#" method="post">
                <input
                  class="form-control"
                  type="email"
                  name="Email"
                  placeholder="Enter your email..."
                  required=""
                />
                <button class="btn1">
                  <i class="far fa-envelope" aria-hidden="true"></i>
                </button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
        <div class="copyright-w3layouts mt-4">
          <p class="copy-right text-center">
            &copy; 2018 Goggles. All Rights Reserved | Design by
            <a href="http://w3layouts.com/"> W3layouts </a>
          </p>
        </div>
      </div>
    </footer>
    {% block script_section %}
    
    {% endblock %}
  </body>
</html>
