<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Forgot password</title>
      <link rel="stylesheet" href="/static/css/stylelogin.css">
   </head>
   <body>
      <div class="wrapper">
         <div class="title">
            Forgot password
         </div>
         <form action="{% url 'forgotpassword' %}" method="POST">
            {% csrf_token %}
            {% if messages%}
                      {% for message in messages%}
                      <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong></strong>{{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                      {%endfor%}
                      {%endif%}
                      <h4>Enter you email for resetting your password</h4> 
            <div class="field">
               <input name="email" id = "email" {% if otp %} value="{{usr.email}}" type="hidden" {% else %} type="email" {% endif %} required>
               <label>Email</label>
            </div>
            {% if otp %}
            <div class="field">
               <input type="password"  name="otp" id = "otp" required>
               <label>OTP</label>
            </div>
            <div class="field">
                <input type="submit" value="Login">
             </div>
            {% else %}
            <div class="field">
                <input type="submit" value="Get OTP">
             </div>
             
            <div class="signup-link">
               got password? <a href="{% url 'handlelogin' %}">login</a>
            </div>
            {% endif %}
         </form>
      </div>
   </body>
</html>