<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Forgot password</title>
      <link rel="stylesheet" href="/static/css/stylelogin.css">
   </head>
   <body>
      <div class="wrapper">
         <div class="title">
            Reset
         </div>
         <form action="{% url 'resetpassword' %}" method="POST">
            {% csrf_token %}
            {% if messages%}
                      {% for message in messages%}
                      <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong></strong>{{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                      {%endfor%}
                      {%endif%}
                      <h4>Enter your new Password</h4>
                      <input name="email" value="{{usr.email}}" type="hidden"> 
            <div class="field">
               <input name="password" id = "email" type="password" required>
               <label>New Password</label>
            </div>
            <div class="field">
               <input type="password"  name="pass1"  required>
               <label>Confirm Password</label>
            </div>
            <div class="field">
                <input type="submit" value="confirm">
             </div>
         </form>
      </div>
   </body>
</html>